.svgBox {
    flex-basis: 25px;
    flex-shrink: 0;
    height: 25px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

[class*="unchecked"]:hover {
    background-color: var(--primaryGray) !important;
}

[class*=" checked"]:hover {
    background-color: var(--secondaryOrange) !important;
}

.svgBox svg {
    width: 100%;
    height: 100%;
    stroke: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class*=medium] {
    outline: 1px solid var(--primaryOrange);
}

[class*=high] {
    outline: 1px solid red;
}